<div class="FileDocumentViewer mx-groupbox" >
	<h2 class="mx-groupbox-header FileDocumentViewer-header" dojoAttachPoint="toolbarNode">
		<span dojoAttachPoint="headerTextNode">...</span>
		<i class="glyphicon mx-groupbox-collapse-icon glyphicon-fullscreen" style="margin-right:10px; cursor:pointer;" dojoAttachPoint="enlargeNode"></i>
		<i class="glyphicon mx-groupbox-collapse-icon glyphicon-new-window" style="margin-right:10px; cursor:pointer;" dojoAttachPoint="popoutNode"></i>
	</h2>
	<div class="mx-groupbox-body FileDocumentViewer-body" dojoAttachPoint="groupboxBody">
	</div>
</div>
